* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(251, 246, 243);
}
/*-----------------------------Header----------------------------*/
.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 3%;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
}

.logo {
    width: 106px;
    height: 39px;
    top: 47px;
    left: 424px;
    padding: 0 150px 4px 9px;
}

nav {
    align-items: center;
}

nav ul{
    display: flex;
    width: 100%;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(211, 3, 7);
    text-decoration: none;
}

nav ul li{
    padding: 10%;
}
/*------------------Main--------------*/

main {
    background-color: rgb(251, 246, 243);
    display: flex;
    justify-content: center;
}

.img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.img img {
    padding-right: 4%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
h2 {
    font-size: 60px;
    width: 47%;
}

h3 {
    color: rgb(211, 3, 7);
    padding: 3% 0 3%;
    font-size: 30px;
}

.size ul {
    display: flex;
    width: 100%;
    list-style: none;
}

.size ul li {
    padding: 2% 2% 2% 0;
    font-size: 20px;
}

.gray {
    color: gray;
}

.red {
    color: rgb(211, 3, 7);
}

p {
    width: 47%;
    font-size: 25px;
    font-weight: 600;
}