img {
    max-width: 200px;
    max-height: 200px;
}
body {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    width: 80%;
    justify-content: center;
}
.block {
    display: flex;
    background-color: white;
    margin: 1%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-width: 15%;
    border: orange 5px solid;
    border-radius: 30px;
}
