@import url('https://fonts.googleapis.com/css2?family=KoHo:ital@1&display=swap');

* {
    margin: 0;
    font-family: 'KoHo', sans-serif;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    background-image:url(fon_1.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.preview {
    display: flex;
    background-color: white;
    width: 1000px;
    height: 400px;
}


.lorem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(fon_2.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.img {
    width: 65%;
}

.text {
    margin-top: 5%;
    width: 65%;
    font-size: 35px;
}

.list {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-image: url(fon_2.png);
}

iframe {
    width: 65%;
    height: 55%;
}

button {
    padding: 1em;
    width: 100%;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.list_1 {
    background-color: #53535366;
    height: 50%;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
}

.stack {
    width: 100%;
}

.button {
    width: 80%;
    background-color: #D9D9D999;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}