*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(245, 245, 247);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    animation: left 0.4s ease-in 1;
}
header div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
header>div>span{
    color: black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 11.813px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.12px;
}
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
img {
    box-sizing: border-box;
    margin: 78px 30% 0 30%;
    animation: product 2s ease-in-out;
}
h1 {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: -1.44px;
    margin-top: 67px;
    animation: text 2s ease-in-out;
}
p {
    color: #86868B;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 21.563px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.216px;
    margin: 52px 232px 0 232px;
    animation: text 2s ease-in-out;
}

@keyframes left {
    0%{
        transform: translateX(340px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes product {
    0%{
        opacity: 0;
        scale: 1.1;
        transform: translateY(-100px);
    }
    60%{
        opacity: 0;
        scale: 1.1;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}
@keyframes text {
    0%{
        opacity: 0;
        scale: 1.1;
        transform: translateY(100px);
    }
    60%{
        opacity: 0;
        scale: 1.1;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}